{% extends 'djangoapp/base.html' %}

{% block title %}

    <meta charset="UTF-8">
    <title>Dealership Review</title>
    
{% endblock title %}


{% block bootstrap %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

{% endblock bootstrap %}  


{% block content %}

{% if dealer_result != "ok" %}     
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true" style="font-size:20px">×</span>
    </button>
    <strong>Dealer details request failed!</strong> {{dealer_result}}
</div>
{% else %}
<h2  class="mt-3 ml-4 mr-4">Reviews</h2>
    {% if review_result != "ok"  %}
        {% if review_result == "No reviews from this dealer on database"  %}
            <div class="alert alert-warning">
                {{review_result}}
            </div>
        {% else %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true" style="font-size:20px">×</span>
                </button>
                <strong>Dealer details request failed!</strong> {{review_result}}
            </div>
        {% endif %}
    {% elif reviews %}
        {% comment %} <p> Dealer Id {{dealer.id}} </p> </br>
        <p> Dealer_Id {{dealer_id}} </p> </br> {% endcomment %}
        <div class="container m-2">
            <div class="card-deck">
                {% for review in reviews %}
                    <div class="card m-3 p-3 bg-light" style="min-width: 18rem!important; max-width: 18rem!important">

                            <div class="card-body">
                                <h5 class="card_title"> {{ review.name }}  </h5>
                                {% if  review.purchase %}
                                    <h6 class="card_title"> {{ review.car_make }} {{ review.car_model }} {{ review.car_year }}</h6>
                                {% else %}
                                    <h6 class="card_title">Without purchase</h6>
                                {% endif %}
                                <p class="card-text">{{ review.review }}</p>
                            </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endif %}

{% if user.is_authenticated %}
{% comment %} <button class="m-4"> <a href="{% url 'djangoapp:add_review' dealer_id=dealer.id %}" ><h5>Add review</h5> </a> </button> {% endcomment %}

<button class="m-4"> <a href="{% url 'djangoapp:add_review' dealer_id=dealer_id %}" ><h5>Add review</h5> </a> </button>
{% endif %}

{% endblock content %}