{% extends 'djangoapp/base.html' %}

{% block title %}
    <title>Index</title>
{% endblock title %}

{% block content %}

<!-- Remove this line the first time you edit this file -->

{% if error_login %}     
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true" style="font-size:20px">×</span>
    </button>
    <strong>Login failed!</strong> {{error_login}}
</div>
{% elif result != "ok" %}     
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true" style="font-size:20px">×</span>
    </button>
    <strong>Dealership request failed!</strong> {{result}}
</div>
{% else %}
    <table class="table" id="table" data-filter-control="true">
        <thead>
            <tr>
                <th data-field="id">ID</th>
                <th data-field="name">Name</th>
                <th data-field="city">City</th>
                <th data-field="address">Address</th>                
                <th data-field="zip">Zip code</th>
                <th data-field="state" data-filter-control="select">State</th>
            </tr>
        </thead>
        <tbody>
            {% for dealer in dealerships %}
                <tr>
                    <td>{{dealer.id}}</td>
                    <td><a href="{% url 'djangoapp:dealer_details' dealer.id %}">{{val.full_name}}{{dealer.full_name}}</a></td>
                    <td>{{dealer.city}}</td>
                    <td>{{dealer.address}}</td>                    
                    <td>{{dealer.zip}}</td>
                    <td>{{dealer.st}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}




{% endblock content %}